@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url(Open_Sans/OpenSans-Regular.ttf) format('tff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url(Open_Sans/OpenSans-Bold.ttf) format('tff');
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  background: #eff0f3;
  padding-top: 100px;
}

.bg {
  background: #56d5ff;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}

.header {
  padding: 30px 50px;
}

.block-1 {
    float: left;
    padding: 30px;
}

.block-1 img {
    width: 200px;
    max-width: 100%;
}

.block-2 {
    float: left;
    width: 500px;
    max-width: 100%;
    text-align: left;
}

.top-float {
  position: fixed;
  background: #fff;
  width: 100%;
  top:0;
  padding: 30px 0;
  z-index: 1000;
}

.top-left {
  float: left;
  margin-left: 20px;
}

.top-right {
  margin-right: 20px;
  float: right;
}

.buy {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  padding: 50px;
}

a {
  text-decoration: none;
  color: #00b4ff;
}

.buy-header {
  font-size: 20px;
  background: #000;
  color: #fff;
  padding: 10px 0;
  margin: 50px 0;
}

.product {
  float: left;
  width: 500px;
  max-width: 100%;
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.purchase {
  float: left;
  width: 300px;
  max-width: 80%;
  text-align: left;
  box-sizing: content-box;
  padding-left: 30px;
}

.old-price {
  text-decoration: line-through;
  color: #505050;
}

.price {
  font-weight: bold;
  color: #009dff;
  margin-bottom: 20px;
}

.color {
  overflow: hidden;
  padding: 5px;
  margin: 0;
  margin-bottom: 20px;
}

.color li {
  cursor: pointer;
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px 10px 5px 0;
  display: block;
  border: 5px solid #000;
  list-style-type: none;
  box-shadow: 0px 1px 3px 1px #888888;
  opacity: 0.5;
}

.color li.active {
  opacity: 1 !important;
}

.color li:hover {
  opacity: 1 !important;
}

.color .color-0 {
  border-color: #00BCD4;
}

.color .color-1 {
  border-color: #E91E63;
}

.color .color-2 {
  border-color: #000;
}

.color .color-3 {
  border-color: #8BC34A;
}

.color .color-4 {
  border-color: #000;
  background-color: #111;
}

.color .color-5 {
  border-color: #000;
  background-color: #a7bac9;
}

.color .color-6 {
  border-color: #FFC107;
}

.color .color-7 {
  border-color: #000;
  background-color: #263238;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

.description {
  padding-top: 50px;
}

.hr {
  margin: 20px auto;
  width: 300px;
  height: 1px;
  background: rgba(0,0,0,.3);
  max-width: 100%;
}

.copy {
  font-size: 14px;
  margin: 20px 0;
}

.tab>div {
  display: inline-block;
  padding: 5px 10px;
  min-width: 200px;
  border-radius: 10px;
  border: 2px solid rgba(0,0,0,.3);
  cursor: pointer;
}

.tab .active {
  background: #000;
  color: #fff;
}

.tab-content>div {
  display: none;
}
.tab-content>.active {
  display: block;
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(star.png) center no-repeat;
  background-size: contain;
  vertical-align: top;
}

.reviews {
  padding: 0;
}

.reviews li {
  list-style-type: none;
  margin: 30px 0;
  width: 400px;
  max-width: 100%;
}

.review-title {
  font-weight: bold;
}

.review-author {
  font-size: 13px;
  color: #888;
  margin-bottom: 10px;
}

.saleend {
  font-size: 14px;
}

.social-sharing>* {
    display: inline-block;
    vertical-align: bottom !important;
    margin-top: 15px;
}
