@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url(Open_Sans/OpenSans-Regular.ttf) format('tff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url(Open_Sans/OpenSans-Bold.ttf) format('tff');
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  background: #eff0f3;
  padding-top: 100px;
}
