@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url(Open_Sans/OpenSans-Regular.ttf) format('tff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url(Open_Sans/OpenSans-Bold.ttf) format('tff');
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  background: #fff;
  padding-top: 100px;
}

.header {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.logo {
  float: left;
  width: 100px;
  height: 30px;
  background: url(logo.png) center no-repeat;
  background-size: contain;
  margin: 10px 0;
}

.buy {
  float: right;
  background: #fff;
  color: #000;
  padding: 7px 14px;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.5;
}

.color-animation, .color-animation li {
  padding: 0;
  margin: 0;
}

.color-animation {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  max-width: 100%;
  max-height: 100%;
  float: left;
}

.color-animation li {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.color-0 {
  background-image: url(color/0.jpg);
  z-index: 0;
}

.color-1 {
  z-index: 1;
  opacity: 0;
}

.header .left {
  float: left;
  margin: 15px 0;
}

.header .container {
  padding: 0 30px;
}

.heading {
  width: 500px;
  max-width: 100%;
  float: left;
  padding: 0 40px;
  box-sizing: border-box;
}

.first-impression {
  margin-bottom: 50px;
}

.gifs {
  background: #000;
}

.gif {
  max-width: 50%;
  float: left;
}

.guide {
  background: #eee;
}

.guide-image {
  width: 100%;
}

.guide .title {
  text-align: center;
  margin-top: 50px;
  color: #444;
  font-size: 20px;
}

.product .p50 {
  width: 50%;
  float: left;
}

.product-image {
  width: 100%;
}

.order {
  text-align: center;
  background: #000;
  color: #fff;
  padding: 10px 20px;
}

.order .big {
  font-size: 20px;
}

.order .small {
  font-size: 12px;
  opacity: 0.8;
}

.product-title {
  margin-top: 50px;
  font-weight: bold;
  font-size: 24px;
}

.product-price {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.price {
  color: #009dec;
}

.variation {
  font-size: 16px;
  margin-bottom: 30px;
}

.variation select {
  font-size: 14px;
}

.variation-title {
  font-weight: bold;
  font-size: 18px;
}

.select-title {
  width: 50px;
  display: inline-block;
}

.line {
  margin: 10px 0;
}

.footer {
  background: #eee;
  padding: 50px;
  text-align: center;
  font-size: 14px;
}

.footer img {
  width: 200px;
}

.media {
  text-align: center;
  padding: 50px 0;
}

.media img {
  max-width: 100%;
}

.forms {
  margin: 20px 0;
}

.forms>div:not(.active) {
  display: none;
}

.features .title {
  font-weight: bold;
}

@media (max-aspect-ratio: 1/1) {
  .gif {
    width: 100%;
    max-width: 100%;
  }
}
